.login{
   width: 100%;
   max-width: 700px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 30px auto;
   justify-content: center;
   background-color: #ecf0f1;
   border-radius: 20px;
   padding: 2vw 4vw;
}

.login form{
   display: flex;
   flex-direction: column;
   width: 100%;
}

.login h1{
   font-size: 32px;
}

.login form p{
   color: #7159c1;
   margin: 8px;
   font-size: 18px;
   font-weight: bold;
}

.login form label{
   font-weight: bold;
   margin: 15px 0;
   font-size: 20px;
}

.login form input{
   padding: 12px 20px;
   color: black;
   border: 1px solid black;
   font-size: 15px;
}

.login form input:focus{
   border: 2px solid #7159c1;
}

.login form button{
   margin: 22px 0;
   padding: 8px 20px;
   background-color: #7159c1;
   color: white;
   font-weight: bold;
   border: 1px solid black;
}

.login form a{
   color: #7159c1;
   text-decoration: none;
   padding: 10px 20px;
   font-size: 18px;
   transition: 0.2s;
}

.login form a:hover{
   opacity: 0.6;
   transition: 0.2s;
}